html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
}
p {
  width: 900px;
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
}
textarea {
  width: 200px;
  height: 200px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
#errors {
  display: none;
  color: red;
}